# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projects\android-web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../.idea
../android-web.iml
